# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# Vite
.vite

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db
